// Variable overrides go here
$navbar-padding-y: 0.5rem;

// TODO: remove hardcoded theme, support changing via react-bootswatch-select
// Import order is important (https://bootswatch.com/help/)
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';

// Extra styles go here
body {
  padding-top: 5rem;
}

.navbar {
  box-shadow: 0 5px 20px 0 $black;
}

.card-title,
.form-floating,
.form-group {
  margin-bottom: 1rem;
}

// Export values for JS here
:export {
  alertZIndex: $zindex-tooltip + 10;
}
