<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "frontend/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "frontend/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "frontend/favicon-16x16.png" %}">
  <link rel="manifest" type="application/json" href="{% static "frontend/manifest.json" %}">
  <title>ApiEval</title>
</head>
<body>
<noscript>You must enable Javascript to use this website</noscript>
<div id="app"></div>
<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>
